footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .social-media {
    margin-bottom: 20px;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #555;
    font-size: 20px;
  }
  
  .social-media a:hover {
    color: #111;
  }
  
  .fab {
    font-size: inherit;
  }
  